<!DOCTYPE html>
<html ng-app="app">
<head>
<title>新seodoor.jp</title>
<link rel="stylesheet" href="css/global.css">
</head>
<body ng-controller="MainCtrl">
  <h1>project!</h1>
  <div>
    <ul>
      <li ng-repeat="project in projects" ng-cloak>{{project.id}} : 
        <a ng-click="click(project.id)">
          {{project.title}}
        </a>
      </li>
    </ul>
  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular-resource.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular-route.min.js"></script>
  <script src="js/controller.js"></script>
</body>
</html>