<header>
	<div id="header_logo">
		<a href="/apps/summary.php"><h1></h1></a>
	</div>

	<div id="header_info">
		<ul>

			<a href="/apps/message.php"><li style="background-image:url(../img/header_bg_message.png);">			
				メッセージBOX
				<div id="message_flag"></div>
			</li></a>

			<a href="/apps/account.php"><li style="background-image:url(../img/header_bg_account.png);">
				登録情報
			</li></a>

			<a href="/apps/config.php"><li style="margin-right:0; background-image:url(../img/header_bg_config.png);">
				サイトの追加・変更
			</li></a>

		</ul>
	</div>
</header>