<!DOCTYPE html>
<html>
<head>
<title>新seodoor.jp</title>
<link href="/css/global.css" rel="stylesheet">
<link href="/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<h1>seodoorログイン（仮）</h1>

<div id="login_form_temporary">

	<form class="form-horizontal" role="form">
	  
	  <!-- input -->
	  <div class="form-group">
	    <label class="col-sm-2 control-label">メールアドレス</label>
	    <div class="col-sm-10">
	      <input type="email" class="form-control" placeholder="">
	    </div>
	  </div>

	  <!-- input -->
	  <div class="form-group">
	    <label class="col-sm-2 control-label">パスワード</label>
	    <div class="col-sm-10">
	      <input type="email" class="form-control" placeholder="">
	    </div>
	  </div>

	   <button type="submit" class="btn btn-default">ログイン</button>
	</form>
</div>

</body>
</html>