<!DOCTYPE html>
<html ng-app="app">
<head>
<title>新seodoor.jp</title>
<link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc2/angular-material.min.css">
<link rel="stylesheet" href="css/global.css">
</head>
<body ng-controller="MainCtrl">
    
  <div id="container">
    <div id="navarea">
      <a ng-click="homeClick()">HOME</a>
    </div>

    <div id="content">

      <div class="title-list">
        <ul>
          <li ng-repeat="project in projects" ng-cloak>{{project.id}} : 
            <a href="/?id={{project.id}}" ng-click="titleClick(project.id)">
              {{project.title}}
            </a>
            <form action="model/index.php" method="post">
              <input type="hidden" name="delete_id" value="{{project.id}}">
              <md-button type="submit" value="delete" class="md-raised md-warn" aria-label="DELETE">DELETE</md-button>
            </form>
            {{project.created}}
          </li>
        </ul>
      </div>

      <div class="form-area">
        <form class="col-md-4" action="model/index.php" method="post">
          <md-input-container>
            <label for="title">TITLE</label>
            <input name="title" type="text" class="form-control">
            <md-button type="submit" class="md-raised md-primary">CREATE</md-button>
          </md-input-container>
        </form>
      </div>
    </div>
  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular-resource.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular-route.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-animate.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-aria.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-messages.min.js"></script>

  <script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc2/angular-material.min.js"></script>

  <script src="/controller/index.js"></script>
</body>
</html>