<!DOCTYPE html>
<html ng-app="app">
<head>
<title>新seodoor.jp</title>
<link rel="stylesheet" href="css/bootstrap.min.css">
<link rel="stylesheet" href="css/global.css">
</head>
<body ng-controller="MainCtrl">
    
  <div id="container">
    <div id="navarea">
      <a ng-click="homeClick()">HOME</a>
    </div>

    <div id="content">

      <div class="title-list">
        <ul>
          <li ng-repeat="project in projects" ng-cloak>{{project.id}} : 
            <a href="/?id={{project.id}}" ng-click="titleClick(project.id)">
              {{project.title}}
            </a>
            <form action="model/index.php" method="post">
              <input type="hidden" name="delete_id" value="{{project.id}}">
              <input type="submit" value="delete" class="btn btn-danger">
            </form>
            {{project.created}}
          </li>
        </ul>
      </div>

      <div class="form-area">
        <h2>
          NEW PROJECT?
        </h2>
        <form class="col-md-4" action="model/index.php" method="post">
          <input name="title" type="text" class="form-control">
          <input type="submit" class="btn btn-default">
        </form>
      </div>
    </div>
  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular-resource.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular-route.min.js"></script>
  <script src="/controller/index.js"></script>
</body>
</html>